
.idea/workspace.xml

.idea/vcs.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/misc.xml

.idea/encodings.xml

.idea/dictionaries/den.xml

.idea/All-Sessions-Spam-Removed-.iml

.idea/.name
